#about p {
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  line-height: 30px;
  margin-bottom: 30px;
}

#about .first-content-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 65px 0;
}

@media screen and (min-width: 480px) {
  #about .first-content-boxes {
    flex-direction: row;
  }
}

#about .first-content-boxes div p {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 25px;
  font-weight: 400;
}

.texto {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to right, transparent, white, transparent);
  text-align: center;
  color: crimson;
  font-style: italic;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 900 !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  padding: 25px 0;
}

.image {
  vertical-align: inherit;
}
